name: Build binaries for Linux/Windows/macOS and create GitHub release

on:
  push:
    branches:
      - 'master'
      - 'ci/debug/release'

jobs:
  build_and_release:
    name: Build binaries for ${{ matrix.os }} and push them to GitHub release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [ 18.x ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - name: Install libudev-dev on Linux
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
               sudo apt-get update && sudo apt-get install libudev-dev -y
          fi

      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Clone repo
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Setup Cargo
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install dependencies
        run: yarn install --network-timeout 100000

      - name: Build binaries (will create GitHub release)
        shell: bash
        run: |
          if [ ${{ github.ref }} = "refs/heads/master" ]; then
            yarn run publish
          else
            yarn run publish --dry-run
          fi
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          SENTRY_AUTH_TOKEN: "${{ secrets.SENTRY_AUTH_TOKEN }}"
